<div class="jumbotron">
  <h1 class="display-4 text-center">Eat That Burger!</h1>

  <hr class="my-4">
  <p class="lead text-center">Add a burger. Once it has been added to the Uneaten Burger list click to eat. </p> 
   <p class="lead text-center"> Once the burger is on the Burgers Eaten list, click on the burger to delete.</p>
   <div class="text-center">
  <img src="../assets/images/burger-img.jpg" class="rounded" alt="Burger">
</div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <table id="unEatenBurg">
        <tr>
          <th>Uneaten Burgers</th>
        </tr>
        <tr>
          <td>
        {{#each burgers}}
          </td>
        </tr>
        <tr>
          <td>
            {{#unless this.Devoured}}

            <button class="updateBurger" data-id="{{this.id}}" data-name="{{this.burger_name}}">
              
            {{this.burger_name}}

            </button>
            {{/unless}}
           </td>
        </tr>
        {{/each}}
      </table>
    </div>
    <div class="col-md-auto">
      <table id="eatenBurg">
        <tr>
          <th>Burgers Eaten</th>
        </tr>
        <tr>
          <td>
            {{#each burgers}}
          </td>
        </tr>
        <tr>
          <td>
            {{#if this.Devoured}}
            <button class="deleteBurger" data-id="{{ this.id}}">{{this.burger_name}}
            </button>
            {{/if}}
            </td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>
  <br>
  <hr class="my-4">
  <form id="addBurger" class="text-center">
    <input id="add-burger-text" type="text" name="create-burger-text"></input>
    <button class="btn btn-info btn-md" href="#" type="submit" role="button" id="addBurgBtn">Add Burger</button>
  </form>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>